functions-framework
google-auth
google-cloud-bigquery
google-cloud-logging
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage
psycopg2-binary
sqlalchemy

lsst-ppdb-gcp @ git+https://github.com/lsst-dm/ppdb-gcp@tickets/DM-50562
